#about {
    background: var(--black);
    text-align: center;
    color: var(--white);
    padding-bottom: 400px;

    .about__text {
        max-width: 500px;

        p {
            margin-top: 20px;
            font-family: 'Sarabun', sans-serif;
        }
    }

    .about__icons {
        width: 160px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        button {
            background: inherit;
            color: grey;
            cursor: pointer;
        }
        svg {
            height: 40px;
            transition: 0.4s;

            &:hover {
                color: var(--white);
            }
        }
    }
}
