.toggle {
    height: 25px;
    width: 48px;
    background: var(--black);
    border-radius: 40px;
    padding: 3px;
    position: relative;
    margin: auto;
    cursor: pointer;
    background: var(--foreground);
    transition: background var(--transition);

    &:before {
        content: '';
        display: block;
        height: 18px;
        width: 18px;
        margin-left: 1px;
        border-radius: 30px;
        background: var(--white);
        position: absolute;
        z-index: 2;
        transform: translate(0);
        transition: transform var(--transition);
        background: var(--background);
        transition: transform var(--transition), background var(--transition);
    }

    input {
        position: absolute;
        top: 0;
        opacity: 0;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 5px;
        color: var(--background);
    
        svg {
        fill: var(--white);
        height: 14px;
        width: 11px;
        z-index: 0;
        color: var(--background);
        }
    }
}

.toggle.enabled::before {
    transform: translateX(23px);
}
