#hero {
    position: relative;
    height: 100vh;

    .hero__title__container {
        display: flex;
        align-items: center;

        .hero__title__wrapper {
            margin: 0 auto;
            display: inline-block;
            text-align: left;

            .hero__title {
                font-size: 110px;
                overflow: hidden;
                display: block;

                @media only screen and (min-width: 600px) {
                    font-size: 140px;
                }
            }

            .hero__title--second {
                margin-top: -90px;
            }
        }
    }

    .hero__copyright {
        position: absolute;
        top: 75vh;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        cursor: default;

        @media only screen and (min-width: 600px) {
            top: 20vh;
        }
    }

    .hero__view-projects {
        background: inherit;
        position: absolute;
        right: 0;
        bottom: 80px;
        margin-right: 56px;
        transition: 0.4s;
        color: var(--foreground);
        z-index: 100;

        &:hover {
            cursor: pointer;
            color: var(--grey);
        }
    }
}
