#project {
    padding-bottom: 100px;

    .project__grid {
        @media only screen and (min-width: 600px) {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
        }

        .project__grid__images {
            max-width: 100%;
            position: relative;

            .project__grid__images__mainImage {
                margin-bottom: 40px;

                @media only screen and (min-width: 600px) {
                    margin: 0 auto;
                    max-width: 523px;
                    padding: 0 70px;
                    margin-left: 110px;
                }
            }

            .project__grid__images__device {
                display: none;

                @media only screen and (min-width: 600px) {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 20%;
                    max-height: 380px;
                }
            }
        }

        .project__grid__info {
            h2,
            h3,
            h4,
            p {
                font-family: 'Sarabun', sans-serif;
            }

            .project__grid__info__heading {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                margin-bottom: 10px;
                border-bottom: 1px solid white;
                padding-bottom: 10px;
                align-items: baseline;

                svg {
                    height: 30px;
                    transition: 0.4s;
                    color: var(--white);

                    &:hover {
                        color: grey;
                        cursor: pointer;
                    }
                }
            }

            .project__grid__info__tech {
                display: none;

                @media only screen and (min-width: 600px) {
                    display: block;
                    margin-bottom: 10px;
                }
            }

            .project__grid__info__button {
                margin-top: 80px;
                text-align: right;
                margin-right: 56px;
                cursor: pointer;
                transition: 0.4s;

                &:hover {
                    color: grey;
                }
            }
        }
    }
}

// .project {
//     position: relative;
//     background: var(--black);

//     .image__wrapper {
//         position: relative;

//         .image__text {
//             position: absolute;
//             color: var(--white);
//             width: 100%;
//             text-align: center;
//             z-index: 1;
//             top: 40px;
//         }

//         img {
//             position: absolute;
//             left: 0;
//             right: 0;
//             margin-left: auto;
//             margin-right: auto;
//             width: 320px; /* Need a specific value to work */
//             z-index: 0;
//         }
//     }

//     .project__text {
//         position: absolute;
//         right: 0;
//         width: 440px;
//         color: var(--white);
//         top: 130px;
//         z-index: 10;
//     }

//     .project__rotating__text {
//         text-align: right;
//         margin-right: 56px;
//         margin-top: 66px;
//         transition: 0.4s;

//         &:hover {
//             color: grey;
//         }
//     }
// }
