#skills {
    background: var(--black);
    color: var(--white);
    padding-top: 400px;
    overflow: hidden;
    height: 900px;

    .skills__marquees {
        overflow: hidden;
        white-space: nowrap;
        font-size: 140px;
        transform: rotate(-5deg);
    }

    .skills__marquee1 {
        display: inline-block;
        animation: marquee 40s linear infinite;
        font-family: 'VulturaOutline';
    }

    .skills__marquee2 {
        display: inline-block;
        animation: marquee2 40s linear infinite;
        animation-delay: 20s;
        font-family: 'VulturaOutline';
    }

    .skills__dagger {
        font-family: 'Vultura';
    }

    @keyframes marquee {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-100%);
        }
    }

    @keyframes marquee2 {
        from {
            transform: translateX(-50%);
        }
        to {
            transform: translateX(-150%);
        }
    }
}
