#work {
    background: var(--black);
    // padding-top: 400px;
    color: var(--white);
    padding-bottom: 400px;

    .title__h2 {
        color: var(--white);
        text-align: center;
        // padding-bottom: 80px;
    }

    .work__header {
        text-align: center;
        padding-bottom: 140px;
    }

    .work__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }

    .work__nextProject {
        button {
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                color: grey;
            }
        }
    }

    .work__numerals {
        // left: 0;
        // top: 0;
        // position: absolute;
        font-size: 40px;
        cursor: default;
        button {
            // writing-mode: vertical-lr;
            // transform: scale(-1);
            font-family: 'VulturaOutline';
            cursor: pointer;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        .work__numerals__selected {
            font-family: 'Vultura';
        }
    }
}
