#work {
    background: var(--black);
    padding: 400px 0;

    .title__h2 {
        color: var(--white);
    }
    .green,
    .blue,
    .red {
    }

    .green {
        background-color: greenyellow;
    }
    .blue {
        background-color: blueviolet;
    }
    .red {
        background-color: salmon;
    }
}
