#work {
    background: var(--black);
    color: var(--white);
    padding-bottom: 400px;

    .title__h2 {
        color: var(--white);
        text-align: center;
    }

    .work__header {
        padding-bottom: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .work__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }

    .work__nextProject {
        button {
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                color: grey;
            }
        }
    }

    .work__numerals {
        font-size: 40px;
        cursor: default;
        button {
            cursor: pointer;
            font-family: 'VulturaOutline';
            margin-right: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        .work__numerals__selected {
            font-family: 'Vultura';
        }
    }
}
