.projects {
  background-color: var(--black);
  color: var(--white);
  padding: 80px 0;

  @include m.media-up(lg) {
    padding: 180px 0 260px;
  }

  &__container {
    @include m.container();
  }

  &__title {
    @include m.title(var(--white));
  }
}
