.selected-project {
  position: relative;

  &__return-button {
    @include m.container();
    @include m.spacedText(var(--white));
    background-color: transparent;
    border: none;
    color: var(--white);
    position: absolute;
    top: -40px;
    left: 0;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    z-index: 9;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    @include m.container();
    @include m.title(var(--white));
    position: relative;
    z-index: 2;

    html[lang='jp'] & {
      @include m.text-rhythm(80, 80);
    }
  }

  &__flex {
    display: flex;
    column-gap: 148px;
    flex-direction: column-reverse;

    @include m.media-up(lg) {
      flex-direction: row;
    }

    &__left-col {
      display: none;

      @include m.media-up(lg) {
        display: flex;
        justify-content: center;
        max-width: 30%;
      }

      &__character-img {
        max-width: 272px;
        position: relative;
        z-index: 1;
      }

      &__logo-img {
        opacity: 0.2;
        height: 400px;
        width: 400px;
        position: absolute;
        top: 20px;
      }
    }

    &__middle-col {
      @include m.container();
      @include m.bodyText(var(--white));
      max-width: 100%;

      @include m.media-up(lg) {
        max-width: 450px;
      }

      &__link {
        @include m.spacedText(var(--white));
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        column-gap: 8px;
        z-index: 99;
        position: relative;
        margin-top: 12px;
      }

      &__text {
        margin-bottom: 28px;
      }

      &__tech-used {
        @include m.spacedText(var(--white));
        margin-bottom: 48px;
      }

      &__tech-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;

        @include m.media-up(lg) {
          grid-template-columns: repeat(4, 1fr);
        }

        &__icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__name {
            @include m.spacedText(var(--white));
            @include m.text-rhythm(16, 20);
            text-align: center;

            html[lang='jp'] & {
              @include m.text-rhythm(12, 20);
            }
          }
        }
      }
    }

    &__end-col {
      @include m.container();
      display: flex;
      flex-direction: column;
      margin-top: 40px;

      @include m.media-up(lg) {
        max-width: 30%;
        margin-top: 70px;
      }

      &__image-1,
      &__image-2 {
        max-width: 350px;
        min-height: 220px;
        max-height: 220px;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: top;
          border: 2px solid var(--white);
          border-radius: 20px;
        }
      }

      &__image-1 {
        z-index: 1;
        margin-bottom: 20px;

        @include m.media-up(lg) {
          margin-bottom: 0;
        }
      }

      &__image-2 {
        display: none;

        @include m.media-up(lg) {
          display: block;
          margin-top: -40px;
          margin-left: -60px;
        }
      }
    }
  }
}
