.hero {
  position: relative;
  padding-bottom: 80px;
  min-height: 100vh;
  overflow: hidden;

  .container {
    @include m.container;
    position: relative;
  }

  &__title {
    @include m.title();
    position: absolute;
    left: 0;

    span {
      display: block;
    }
  }

  &__sidenav__container {
    @include m.container();
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
}
