.hero {
  position: relative;
  padding-bottom: 80px;

  .container {
    @include m.container;
    position: relative;
  }

  &__title {
    @include m.title();
    position: absolute;
    left: 0;

    span {
      display: block;
    }
  }
}
