@layer base {
  :root {
    --black: #1e1e1e;
    --white: #fdfdfd;
    --red: #fb8484;
    --font-heading: 'BBH Bogle', sans-serif;
    --font-heading-jp: 'Dela Gothic One', sans-serif;
    --font-body: 'Darker Grotesque', sans-serif;
    --font-body-jp: 'Sawarabi Gothic', sans-serif;
  }

  body {
    font-family: var(--font-body);
    background-color: var(--white);
  }
}
